In [1]:
import torch
import pandas as pd
import os

In [2]:
ids = pd.read_csv("ids.csv", header=None, names=['f.eid'])

all_labels = pd.read_csv("all_labels_CMR_pretrain.csv")
print(all_labels.shape)

all_labels.head()

(502166, 84)

,Unnamed: 0,f.eid,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,0,1000015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1000027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1000039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1000040,155.0,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,...,40.2297,20.6957,36.7676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1000053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ids_to_drop = [1357232, 1606024, 1756573, 1693054, 1903487, 2132506, 2344548, 2563947, 2706368, 3260781,
               3303947, 3728113, 3750605, 4113797, 4313384, 4476590, 4553691, 4575995, 4623638, 4859492,
               5405990, 5516382, 5627107]

In [4]:
labels_for_cmr = all_labels.loc[all_labels['f.eid'].isin(ids['f.eid'])]
print(labels_for_cmr.shape)

labels_for_cmr = labels_for_cmr[~labels_for_cmr['f.eid'].isin(ids_to_drop)].reset_index()
print(labels_for_cmr.shape)

labels_for_cmr = labels_for_cmr.drop(columns=["Unnamed: 0", 'index'])

labels_for_cmr.head()

(39271, 84)
(39248, 85)

,f.eid,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,f.24108.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,1000040,155.000,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,88.3475,...,40.2297,20.6957,36.7676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000088,147.387,47.3661,100.0210,67.8629,6.43915,88.6461,150.032,55.2661,94.7660,...,69.5719,60.3305,50.1079,-26.53110,-37.7756,-24.9213,-22.5476,-10.0641,-25.4768,-23.5301
2,1000154,136.385,43.5863,92.7992,68.0419,6.26316,91.4027,168.515,58.4276,110.0870,...,59.3060,66.0880,57.2235,-29.66400,-34.1849,-15.0205,-21.2284,-10.5510,-19.0815,-21.7910
3,1000216,129.668,47.2611,82.4065,63.5521,4.99434,61.3293,122.558,49.7310,72.8275,...,71.6659,45.7465,45.0071,-23.71550,-45.1650,-15.5362,-20.9583,-14.2242,-10.0281,-19.6540
4,1000346,216.814,74.9636,141.8500,65.4249,7.58556,152.3770,244.149,92.5196,151.6290,...,77.8793,86.2643,52.8128,-6.95493,-29.4776,-27.5320,-16.6357,-11.8885,-19.3854,-18.3215

In [5]:
pd.set_option('display.max_rows', None)
labels_for_cmr.isna().sum()[labels_for_cmr.isna().sum() > 0]

f.24110.2.0     776
f.24111.2.0     776
f.24112.2.0     776
f.24113.2.0     776
f.24114.2.0     776
f.24115.2.0     776
f.24116.2.0     776
f.24117.2.0     776
f.24118.2.0    2444
f.24119.2.0    2444
f.24120.2.0    5636
f.24121.2.0    2444
f.24122.2.0    2444
f.24123.2.0    5636
f.24124.2.0      48
f.24125.2.0      48
f.24126.2.0      48
f.24127.2.0      48
f.24128.2.0      48
f.24129.2.0      48
f.24130.2.0      48
f.24131.2.0      48
f.24132.2.0      48
f.24133.2.0      48
f.24134.2.0      48
f.24135.2.0      48
f.24136.2.0      48
f.24137.2.0      48
f.24138.2.0      48
f.24139.2.0      48
f.24140.2.0      48
f.24141.2.0      71
f.24142.2.0      71
f.24143.2.0      71
f.24144.2.0      71
f.24145.2.0      71
f.24146.2.0      71
f.24147.2.0      71
f.24148.2.0      71
f.24149.2.0      71
f.24150.2.0      71
f.24151.2.0      71
f.24152.2.0      71
f.24153.2.0      71
f.24154.2.0      71
f.24155.2.0      71
f.24156.2.0      71
f.24157.2.0      71
f.24158.2.0      71
f.24159.2.0      71
f.24160.2.0      71
f.24161.2.0      71
f.24162.2.0      71
f.24163.2.0      71
f.24164.2.0      71
f.24165.2.0      71
f.24166.2.0      71
f.24167.2.0      71
f.24168.2.0      71
f.24169.2.0      71
f.24170.2.0      71
f.24171.2.0      71
f.24172.2.0      71
f.24173.2.0      71
f.24174.2.0      71
f.24175.2.0    1292
f.24176.2.0    1292
f.24177.2.0    1286
f.24178.2.0    1286
f.24179.2.0    1287
f.24180.2.0    1287
f.24181.2.0    1285
dtype: int64

In [6]:
# cols_to_drop = [f'f.241{i}.2.0' for i in range(10, 24)]
cols_to_drop = [f'f.241{i}.2.0' for i in range(18, 24)]

labels_for_cmr = labels_for_cmr.drop(columns=cols_to_drop)

labels_for_cmr.isna().sum()[labels_for_cmr.isna().sum() > 0]

f.24110.2.0     776
f.24111.2.0     776
f.24112.2.0     776
f.24113.2.0     776
f.24114.2.0     776
f.24115.2.0     776
f.24116.2.0     776
f.24117.2.0     776
f.24124.2.0      48
f.24125.2.0      48
f.24126.2.0      48
f.24127.2.0      48
f.24128.2.0      48
f.24129.2.0      48
f.24130.2.0      48
f.24131.2.0      48
f.24132.2.0      48
f.24133.2.0      48
f.24134.2.0      48
f.24135.2.0      48
f.24136.2.0      48
f.24137.2.0      48
f.24138.2.0      48
f.24139.2.0      48
f.24140.2.0      48
f.24141.2.0      71
f.24142.2.0      71
f.24143.2.0      71
f.24144.2.0      71
f.24145.2.0      71
f.24146.2.0      71
f.24147.2.0      71
f.24148.2.0      71
f.24149.2.0      71
f.24150.2.0      71
f.24151.2.0      71
f.24152.2.0      71
f.24153.2.0      71
f.24154.2.0      71
f.24155.2.0      71
f.24156.2.0      71
f.24157.2.0      71
f.24158.2.0      71
f.24159.2.0      71
f.24160.2.0      71
f.24161.2.0      71
f.24162.2.0      71
f.24163.2.0      71
f.24164.2.0      71
f.24165.2.0      71
f.24166.2.0      71
f.24167.2.0      71
f.24168.2.0      71
f.24169.2.0      71
f.24170.2.0      71
f.24171.2.0      71
f.24172.2.0      71
f.24173.2.0      71
f.24174.2.0      71
f.24175.2.0    1292
f.24176.2.0    1292
f.24177.2.0    1286
f.24178.2.0    1286
f.24179.2.0    1287
f.24180.2.0    1287
f.24181.2.0    1285
dtype: int64

In [7]:
labels_for_cmr = labels_for_cmr.reset_index()

labels_for_cmr.head()

,index,f.eid,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,0,1000040,155.000,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,...,40.2297,20.6957,36.7676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1000088,147.387,47.3661,100.0210,67.8629,6.43915,88.6461,150.032,55.2661,...,69.5719,60.3305,50.1079,-26.53110,-37.7756,-24.9213,-22.5476,-10.0641,-25.4768,-23.5301
2,2,1000154,136.385,43.5863,92.7992,68.0419,6.26316,91.4027,168.515,58.4276,...,59.3060,66.0880,57.2235,-29.66400,-34.1849,-15.0205,-21.2284,-10.5510,-19.0815,-21.7910
3,3,1000216,129.668,47.2611,82.4065,63.5521,4.99434,61.3293,122.558,49.7310,...,71.6659,45.7465,45.0071,-23.71550,-45.1650,-15.5362,-20.9583,-14.2242,-10.0281,-19.6540
4,4,1000346,216.814,74.9636,141.8500,65.4249,7.58556,152.3770,244.149,92.5196,...,77.8793,86.2643,52.8128,-6.95493,-29.4776,-27.5320,-16.6357,-11.8885,-19.3854,-18.3215

In [16]:
# get the training, val, test data splits

train_ids = pd.read_csv("ids_cmr_pretrain_train.csv", header=None, names=['f.eid'])
print("train_ids shape:", train_ids.shape)

val_ids = pd.read_csv("ids_cmr_pretrain_val.csv", header=None, names=['f.eid'])
print("val_ids shape:", val_ids.shape)

test_ids = pd.read_csv("ids_cmr_pretrain_test.csv", header=None, names=['f.eid'])
print("test_ids shape:", test_ids.shape)


train_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(train_ids['f.eid'])]
train_labels_for_cmr = train_ids.merge(train_labels_for_cmr, on='f.eid', how='left')

print("train_labels ids shape:", train_ids.shape)

val_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(val_ids['f.eid'])]
val_labels_for_cmr = val_ids.merge(val_labels_for_cmr, on='f.eid', how='left')

test_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(test_ids['f.eid'])]
test_labels_for_cmr = test_ids.merge(test_labels_for_cmr, on='f.eid', how='left')

train_ids shape: (27459, 1)
val_ids shape: (5884, 1)
test_ids shape: (5885, 1)
train_labels ids shape: (27459, 1)

In [9]:
test_labels_for_cmr.head()

,f.eid,index,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,2468810,11404,138.579,53.6360,84.9431,61.2958,5.02622,71.1420,146.723,58.0417,...,63.9829,59.6583,45.7740,-43.0350,-41.2494,-11.27500,-18.7798,-6.26446,-13.05690,-20.8301
1,3030571,15832,173.591,83.6748,89.9162,51.7977,5.27368,95.8139,173.825,88.3809,...,46.8910,48.2528,34.1924,-21.5978,-35.8973,-9.46537,-7.7007,-8.74176,-9.86138,-14.5381
2,4137704,24534,144.887,60.7786,84.1087,58.0511,4.71638,80.1837,156.536,78.8019,...,49.9192,50.9969,40.3363,-12.1238,-30.7804,-3.11514,-11.9162,-9.58623,-12.25040,-12.3080
3,3903827,22717,136.977,46.8606,90.1165,65.7895,5.50050,64.3081,141.283,53.5025,...,42.1211,65.3074,48.8451,-36.0029,-17.7388,-17.86470,-15.8392,-1.71436,-19.51160,-16.3876
4,3849778,22312,146.089,70.0906,75.9982,52.0219,4.66247,99.3534,126.330,54.0031,...,42.1357,25.3393,34.7862,-12.3197,-28.4358,-11.48230,-22.0011,-27.92930,-20.97340,-20.0398

In [9]:
# cmr_tensor[CL_idx]
output_dir = "/projects/prjs1252/CL_data"
full_tensor = torch.load(os.path.join(output_dir, "cmr_tensors_ts_all.pt"))
test_tensor = full_tensor[test_labels_for_cmr["index"]]
test_tensor = test_tensor.unsqueeze(1)
test_tensor.shape

torch.Size([5885, 1, 50, 85, 92])

In [17]:
val_tensor = full_tensor[val_labels_for_cmr["index"]]
val_tensor = val_tensor.unsqueeze(1)

val_tensor.shape

torch.Size([5884, 1, 50, 85, 92])

In [18]:
train_tensor = full_tensor[train_labels_for_cmr["index"]]
train_tensor = train_tensor.unsqueeze(1)

train_tensor.shape

torch.Size([27459, 1, 50, 85, 92])

In [19]:
torch.save(train_tensor, os.path.join(output_dir, f"cmr_tensors_ts_all_train.pt"))
torch.save(val_tensor, os.path.join(output_dir, f"cmr_tensors_ts_all_val.pt"))
torch.save(test_tensor, os.path.join(output_dir, f"cmr_tensors_ts_all_test.pt"))

In [10]:
test_labels_for_cmr = test_labels_for_cmr.drop(columns=["f.eid", "index"])
test_labels_for_cmr.head()

,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,f.24108.2.0,f.24109.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,138.579,53.6360,84.9431,61.2958,5.02622,71.1420,146.723,58.0417,88.6813,60.4413,...,63.9829,59.6583,45.7740,-43.0350,-41.2494,-11.27500,-18.7798,-6.26446,-13.05690,-20.8301
1,173.591,83.6748,89.9162,51.7977,5.27368,95.8139,173.825,88.3809,85.4438,49.1551,...,46.8910,48.2528,34.1924,-21.5978,-35.8973,-9.46537,-7.7007,-8.74176,-9.86138,-14.5381
2,144.887,60.7786,84.1087,58.0511,4.71638,80.1837,156.536,78.8019,77.7338,49.6588,...,49.9192,50.9969,40.3363,-12.1238,-30.7804,-3.11514,-11.9162,-9.58623,-12.25040,-12.3080
3,136.977,46.8606,90.1165,65.7895,5.50050,64.3081,141.283,53.5025,87.7801,62.1309,...,42.1211,65.3074,48.8451,-36.0029,-17.7388,-17.86470,-15.8392,-1.71436,-19.51160,-16.3876
4,146.089,70.0906,75.9982,52.0219,4.66247,99.3534,126.330,54.0031,72.3268,57.2523,...,42.1357,25.3393,34.7862,-12.3197,-28.4358,-11.48230,-22.0011,-27.92930,-20.97340,-20.0398

In [11]:
test_labels_for_cmr.to_csv('all_labels_CMR_pretrain_tst2.csv', header=False, index=False)

In [12]:
train_labels_for_cmr = train_labels_for_cmr.drop(columns=["f.eid", "index"])
train_labels_for_cmr.head()

,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,f.24108.2.0,f.24109.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,129.968,39.7848,90.1832,69.3888,6.01222,73.8404,126.297,51.9338,74.3628,58.8795,...,69.3449,70.44090,60.0898,-19.9879,-40.4968,-15.2792,-12.2505,-8.09131,-21.9774,-19.9419
1,134.340,61.4127,72.9276,54.2857,3.06419,89.9613,170.587,83.2743,87.3129,51.1837,...,58.7123,55.19130,43.4272,-22.6735,-34.7608,-11.4269,-21.3910,-14.06740,-18.1482,-20.4969
2,134.320,46.4867,87.8328,65.3910,5.86204,107.4850,145.636,59.2086,86.4275,59.3448,...,64.2883,9.28673,40.8088,-27.8180,-37.6136,-20.2426,-23.2077,-9.57462,-20.8931,-22.1491
3,162.076,69.8570,92.2192,56.8987,4.42652,76.8193,162.777,65.8518,96.9253,59.5448,...,63.6132,60.07970,42.3702,-33.3364,-42.1347,-18.4490,-23.2745,-5.94805,-11.7494,-21.6173
4,119.679,42.8439,76.8351,64.2010,3.86106,61.4980,116.280,39.5195,76.7604,66.0135,...,57.2289,59.61880,50.7587,-24.9730,-31.0750,-16.3938,-23.3349,-13.72320,-24.8505,-21.3122

In [13]:
train_labels_for_cmr.to_csv('all_labels_CMR_pretrain_trn2.csv', header=False, index=False)

In [14]:
val_labels_for_cmr = val_labels_for_cmr.drop(columns=["f.eid", "index"])
val_labels_for_cmr.head()

,f.24100.2.0,f.24101.2.0,f.24102.2.0,f.24103.2.0,f.24104.2.0,f.24105.2.0,f.24106.2.0,f.24107.2.0,f.24108.2.0,f.24109.2.0,...,f.24172.2.0,f.24173.2.0,f.24174.2.0,f.24175.2.0,f.24176.2.0,f.24177.2.0,f.24178.2.0,f.24179.2.0,f.24180.2.0,f.24181.2.0
0,156.269,68.1548,88.1139,56.3862,5.41684,101.8420,179.332,72.3936,106.9380,59.6315,...,96.2304,74.2013,52.9072,-27.3342,-27.6996,-10.81940,-14.1850,-12.67480,-18.9434,-17.4976
1,204.731,89.3822,115.3490,56.3417,6.75214,82.0761,181.835,77.0997,104.7350,57.5991,...,53.3648,48.9038,46.1005,-35.9769,-20.3036,-9.21376,-38.0170,-9.96152,-20.6272,-21.6003
2,178.476,61.9083,116.5680,65.3129,7.34673,108.2620,186.834,90.7914,96.0429,51.4054,...,30.5579,45.5840,38.2113,-18.0176,-30.2594,-11.60850,-14.2941,-14.02870,-18.1371,-17.2338
3,108.140,48.4293,59.7105,55.2160,4.62275,73.4900,127.164,64.7837,62.3806,49.0551,...,46.0403,46.6463,44.9784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,135.671,69.9271,65.7437,48.4583,4.60820,87.4719,142.775,62.0292,80.7461,56.5547,...,38.9393,67.5771,54.8209,-11.4786,-36.3640,-24.22530,-12.3306,-8.17137,-19.6281,-18.3757

In [15]:
val_labels_for_cmr.to_csv('all_labels_CMR_pretrain_val2.csv', header=False, index=False)